/*Animação*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}


/*Importação de fontes*/

@font-face {
    font-family: 'MonoTypeCorsiva';
    src: url('./font/monotype-corsiva.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'SoulOfYou';
    src: url('./font/Soul\ Of\ You.ttf');
}

@font-face {
    font-family: 'Romanica';
    src: url('./font/Romanica.ttf');
}


/*Parte superior da menu*/

.menuSuperior {
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 1rem;
    height: 10rem;
    font-size: 4.5rem;
    font-family: 'MonoTypeCorsiva';
}

.nome p {
    font-size: 3.5rem;
    font-family: 'SoulOfYou';
}

.nome img {
    float: left;
    width: 12rem;
    position: absolute;
    margin: 0 0 0 -15rem;
}


/* Rede Socias*/

.redeSocias {
    float: right;
    font-size: 2rem;
    color: aliceblue;
    margin-right: 1rem;
    margin-top: -9rem;
}

.fa-facebook-square,
.fa-youtube {
    color: white;
    cursor: pointer;
}

.fa-facebook-square {
    margin-left: 0.2rem;
}

.fa-facebook-square:hover {
    color: blue;
}

.fa-youtube:hover {
    color: red;
}


/*Menus*/

.menuInferior {
    font-size: 0.9rem;
    width: 100%;
    height: 2rem;
    background: #4e4e4e;
    padding-top: 1rem;
    text-align: center;
}

.aguia {
    height: 2rem;
    margin-left: -10rem;
    margin-top: -0.5rem;
    position: absolute;
}

.leao {
    height: 3rem;
    margin-left: 3.5rem;
    margin-top: -1rem;
    position: absolute;
}

.menuInferior-fixo {
    position: fixed;
    z-index: 999;
    top: 0;
}

.menuInferior ul {
    display: inline-block
}

.menuInferior li {
    position: relative;
    width: max-content;
    height: 2rem;
    float: left;
    margin-right: 1rem;
}

.menuInferior li ul {
    display: none;
    width: 1rem;
}

.menuInferior li:hover ul,
.menuInferior li.over ul {
    display: block;
    align-items: center;
    justify-content: center;
}

.menuInferior li ul li {
    background: black;
    top: 0.9rem;
    border-radius: 0;
    width: 9.5rem;
    display: flex;
    height: 2rem;
}


/*Botões Menu*/

.menuInferior li a {
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-weight: 100;
}

.menuInferior li a:hover {
    background: red;
    font-weight: 100;
}

.menuInferior li ul li a {
    border-radius: 0;
    width: 9.5rem;
}

.menuInferior li ul li a:hover {
    background: white;
    color: black;
    font-weight: bolder;
}


/*Botão do Topo*/

.btn_Topo {
    background: none;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2.3rem;
    position: fixed;
    z-index: 999;
    top: 90%;
    left: 90%;
    visibility: hidden;
    cursor: pointer;
}

.fa-arrow-up:hover {
    color: #4e4e4e;
}

.fa-arrow-up {
    color: white;
}


/* Primeira Parte */

h1 {
    font-family: 'Romanica';
    font-size: 4rem;
}

.uniChurch {
    background: url(../../img/img001.jpg) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 50rem;
    padding: 1rem 0 0 0;
    color: white;
    border: none;
}

.uniChurch p {
    font-family: 'Romanica';
    margin-top: 30rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    font-size: 2rem;
}


/* Localização da igreja mais perto*/

.uniChurchCultos {
    margin-top: 2.5rem;
    text-align: center;
}

.uniChurchCultos ul li {
    display: inline;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Romanica';
}

.estados {
    margin-top: 2rem;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.estados:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

.maps:hover {
    text-decoration: underline;
    background: none;
    color: black;
    font-weight: bolder;
    font-style: oblique;
}

.localizacaoIgrejas {
    margin-top: 5rem;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-weight: bolder;
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.localizacaoIgrejas caption {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.localizacaoIgrejas td {
    width: 27rem;
    height: 2.5rem;
    border-bottom: silver solid 0.1rem;
    text-align: center;
}

a {
    color: black;
}


/*Projetos*/

.projetos {
    margin-top: 2.5rem;
    height: 50rem;
}


/*Disque Oração*/

.disqueOracao {
    margin-top: 1rem;
    padding-top: 2.5rem;
    text-align: center;
    height: 20rem;
    font-family: 'Romanica';
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.fa-whatsapp,
.fa-envelope,
.fa-times-circle,
.fa-times {
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bolder;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.fa-times-circle {
    float: right;
    right: 0.2rem;
    font-size: 1.7rem;
}

.fa-whatsapp:hover {
    background-color: #32CD32;
    color: white;
}

.fa-envelope:hover {
    background-color: #1E90FF;
    color: white;
}

.fa-times:hover {
    background: #B22222;
    color: white;
}

.fa-times-circle:hover {
    color: white;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50rem;
    height: 32rem;
    padding: 1rem;
    background: #4e4e4e;
    display: none;
    z-index: 999;
    font-family: 'Romanica';
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

input {
    width: 20rem;
    height: 1.5rem;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    font-family: 'Romanica';
}

input:focus,
textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgb(0, 123, 255)
}

textarea {
    vertical-align: text-top;
    resize: none;
    width: 30rem;
    height: 15rem;
    font-family: 'Romanica';
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    padding: 0.3rem;
}


/* Quem Somos - Historico*/

.historico,
.emQuemCremos,
.missaoVisao,
.emu,
.convecaoGeral {
    width: 70rem;
    text-align: justify;
    font-size: 1.3rem;
    margin: auto;
    font-family: 'Romanica';
}

main h1 {
    margin: auto;
    width: 70rem;
    margin-top: 2rem;
    text-align: center;
}

.historico h2,
.emQuemCremos h2,
.missaoVisao h2,
.convecaoGeral h2 {
    font-size: 2rem;
}

.emu h2 {
    font-size: 1.5rem;
}

.corpo {
    background: url(./../../img/background.jpg) no-repeat;
    background-size: cover;
    margin-top: -2rem;
    background-attachment: fixed;
    color: #FFFFFF;
}


/*Diretoria*/

.team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member {
    background: #4e4e4e;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
    margin-left: 5rem;
}

.team .team_member h3 {
    color: #fff;
    font-size: 2rem;
    margin-top: 50px;
    font-family: 'Romanica';
}

.team .team_member p.role {
    color: #ccc;
    margin: 12px 0;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.team .team_member .team_img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}

.team .team_member .team_img img {
    width: 100px;
    height: 100px;
    padding: 0 5px 5px 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}


/* Barra da diretoria*/

.team-bar .first-one-arrow {
    float: left;
    margin-left: 2rem;
    margin-right: 30px;
    width: 17%;
}

.team-bar .first-arrow {
    float: left;
    margin-left: 5px;
    margin-right: 35px;
    width: 17%;
}

.team-bar .second-arrow {
    float: left;
    margin-left: 5px;
    width: 17%;
}

.team-bar .third-arrow {
    float: left;
    margin-left: 40px;
    margin-right: 12px;
    width: 17%;
}

.team-bar .fourth-arrow {
    float: left;
    margin-left: 25px;
    width: 17%;
}

.team-bar .first-one-arrow hr,
.team-bar .fourth-arrow hr {
    border-bottom: 1px solid #2D7DA4;
    border-top: 1px solid #2D7DA4;
}

.team-bar .first-arrow hr {
    border-bottom: 1px solid #6aa42f;
    border-top: 1px solid #6aa42f;
}

.team-bar .second-arrow hr {
    border-bottom: 1px solid #FFBD20;
    border-top: 1px solid #FFBD20;
}

.team-bar .third-arrow hr {
    border-bottom: 1px solid #db3615;
    border-top: 1px solid #db3615;
}

.team-bar {
    position: relative;
    margin-bottom: 10rem;
    margin-top: 1rem;
}

.team-bar i {
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    height: 24px;
    line-height: 24px;
    margin-top: -32px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 24px;
    position: absolute;
}

.team-bar .first-arrow .fa-angle-up {
    background: #2D7DA4;
    margin-left: -33px
}

.team-bar .second-arrow .fa-angle-down {
    background: #6AA42F;
    margin-left: -33px;
}

.team-bar .third-arrow .fa-angle-up {
    background: #FFBD20;
    margin-left: -32px;
}

.team-bar .fourth-arrow .fa-angle-down {
    background: #db3615;
    margin-left: -32px;
}