/*Animação*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}


/*Importação de fontes*/

@font-face {
    font-family: 'MonoTypeCorsiva';
    src: url('./font/monotype-corsiva.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'SoulOfYou';
    src: url('./font/Soul\ Of\ You.ttf');
}

@font-face {
    font-family: 'Romanica';
    src: url('./font/Romanica.ttf');
}


/*Parte superior da menu*/

.menuSuperior {
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 1rem;
    height: 10rem;
    font-size: 4.5rem;
    font-family: 'MonoTypeCorsiva';
}

.nome p {
    font-size: 3.5rem;
    font-family: 'SoulOfYou';
}

.nome img {
    float: left;
    width: 12rem;
    position: absolute;
    margin: 0 0 0 -15rem;
}


/* Rede Socias*/

.redeSocias {
    float: right;
    font-size: 2rem;
    color: aliceblue;
    margin-right: 1rem;
    margin-top: -9rem;
}

.fa-facebook-square,
.fa-youtube {
    color: white;
    cursor: pointer;
}

.fa-facebook-square:hover {
    color: blue;
}

.fa-youtube:hover {
    color: red;
}


/*Menus*/

.menuInferior {
    font-size: 0.9rem;
    width: 100%;
    height: 2rem;
    background: #4e4e4e;
    padding-top: 1rem;
    text-align: center;
}

.menuInferior-fixo {
    position: fixed;
    z-index: 999;
    top: 0;
}

.menuInferior ul {
    display: inline-block
}

.menuInferior li {
    position: relative;
    width: max-content;
    height: 2rem;
    float: left;
    margin-right: 1rem;
}

.menuInferior li ul {
    display: none;
    width: 1rem;
}

.menuInferior li:hover ul,
.menuInferior li.over ul {
    display: block;
    align-items: center;
    justify-content: center;
}

.menuInferior li ul li {
    background: black;
    top: 0.9rem;
    border-radius: 0;
    width: 9.5rem;
    display: flex;
    height: 2rem;
}


/*Botões Menu*/

.menuInferior li a {
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-weight: 100;
}

.menuInferior li a:hover {
    background: red;
    font-weight: 100;
}

.menuInferior li ul li a {
    border-radius: 0;
    width: 9.5rem;
}

.menuInferior li ul li a:hover {
    background: white;
    color: black;
    font-weight: bolder;
}


/*Botão do Topo*/

.btn_Topo {
    background: none;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2.3rem;
    position: fixed;
    z-index: 999;
    top: 90%;
    left: 90%;
    visibility: hidden;
    cursor: pointer;
}

.fa-arrow-up {
    color: black;
}


/* Primeira Parte */

h1 {
    font-family: 'Romanica';
    font-size: 4rem;
}

.uniChurch {
    background: url("../../img/img001.JPG") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 50rem;
    padding: 1rem 0 0 0;
    color: white;
    border: none;
}

.uniChurch p {
    margin-top: 30rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    font-size: 2rem;
}


/* Localização da igreja mais perto*/

.uniChurchCultos {
    margin-top: 2.5rem;
    text-align: center;
}

.uniChurchCultos ul li {
    display: inline;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Romanica';
}

.estados {
    margin-top: 2rem;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.estados:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

.maps:hover {
    text-decoration: underline;
    background: none;
    color: black;
    font-weight: bolder;
    font-style: oblique;
}

.localizacaoIgrejas {
    margin-top: 5rem;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-weight: bolder;
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.localizacaoIgrejas caption {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.localizacaoIgrejas td {
    width: 27rem;
    height: 2.5rem;
    border-bottom: silver solid 0.1rem;
    text-align: center;
}

a {
    color: black;
}


/*Projetos*/

.projetos {
    margin-top: 2.5rem;
    height: 50rem;
}


/*Disque Oração*/

.disqueOracao {
    margin-top: 2.5rem;
    text-align: center;
}

.fechar {
    float: right;
    right: 0.2rem;
}

.fa-whatsapp,
.fa-envelope,
.fa-times {
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bolder;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.fa-whatsapp:hover {
    background-color: #32CD32;
}

.fa-envelope:hover {
    background-color: #1E90FF;
}

.fa-times:hover {
    background: #B22222;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50rem;
    height: 30rem;
    padding: 1rem;
    background: #4e4e4e;
    display: none;
    z-index: 999;
    font-family: 'Romanica';
    text-align: center;
}

input {
    width: 20rem;
    height: 1.5rem;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    font-family: 'Romanica';
}

input:focus,
textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgb(0, 123, 255)
}

textarea {
    vertical-align: text-top;
    resize: none;
    width: 30rem;
    height: 15rem;
    font-family: 'Romanica';
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    padding: 0.3rem;
}